@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: white;
    color:black;
}

div {
    padding: 0;
    margin: 0;
}

.gradient-text {
    background: linear-gradient(to right,
            #a855f7,
            #ec4899,
            #eab308,
            #ec4899,
            #a855f7,
            #ec4899,
            #eab308);
    background-clip: text;
    color: transparent;
    background-size: 300% 300%;

}