@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-bulb-color: rgba(255, 235, 0, 1);
    --primary-shadow-color: rgba(245, 223, 77, 1);
}

html {
    background-color: white;
    color: black;
}

div {
    padding: 0;
    margin: 0;
}

.gradient-text {
    background: linear-gradient(to right,
            #a855f7,
            #ec4899,
            #eab308,
            #ec4899,
            #a855f7,
            #ec4899,
            #eab308);
    background-clip: text;
    color: transparent;
    background-size: 300% 300%;

}


@layer base {


    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
    }

    input[type="number"] {
        /* firefox */
        -moz-appearance: textfield;
    }
}

@layer utilities {

}

@layer components {
   
}