.light_container {
    background-image: url("../../public/images/light/light-01-on.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.light_container::before {
    position: absoulte;
    content: "";
    display: inline-block;
    background-image: url("../../public/images/light/light-01-off.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;

    background-position: center;
    opacity: 1;
    transition: opacity 1s;
    animation: flashlight 5s linear infinite;
}

@media screen and (max-width:768px) {
    .light_container, .light_container::before{
        background-position: 60% 50%;
    }
}

.light_container::before {
    opacity: 0;
}

@keyframes flashlight {
    0% {
        opacity: 0;
    }

    0.5% {
        opacity: 0;
    }

    0.501% {
        opacity: 1;
    }

    5% {
        opacity: 0;
    }

    6.001% {
        opacity: 1;
    }

    7% {
        opacity: 1;
    }

    7.001% {
        opacity: 1;
    }

    7.002% {
        opacity: 0;
    }

    8% {
        opacity: 1;
    }

    8.001% {
        opacity: 0;
    }

    8.002% {
        opacity: 1
    }

    8.003% {
        opacity: 0;
    }

    13% {
        opacity: 1;
    }

    14% {
        opacity: 0;
    }

}