.neon {
    color: #fff;
    text-shadow:
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 20px #fff,
        0 0 40px rgb(0, 145, 255);
     
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .neon {
        font-size: 1.5rem;
    }
}

.container {
    width: 70%;
}

.text {
    font-weight: 400;
    text-align: center;
}